{% include nav-btn-back.html link="/" text="Back to the Main Page" margin-bottom="20" %}

<h3 id="heres-my-blog-posts-for-steve-ramseys-powered-up-online-course">
	Blog posts for Steve Ramsey’s <a href="https://theweekendwoodworker.com/powered-up" target="_blank">“Powered Up”</a> online course
</h3>

<h4 id="faq"><a href="/powered-up/faq/">Powered Up FAQ</a></h4>

{% if include.sortOrder == "desc" %}
  <h4 id="oldest-first--show-newest-first">Oldest First | <a href="/poweredup/ascending/">Show Newest First</a> | <a href="/blog/">All Blog Posts</a></h4>
{% else %}
  <h4 id="newest-first--show-oldest-first">Newest First | <a href="/poweredup/">Show Oldest First</a> | <a href="/blog/">All Blog Posts</a></h4>
{% endif %}

<hr />

<div class="entries-list">

  {% if include.sortOrder == "desc" %}
  	{% for post in site.categories.PoweredUp reversed %}
  	  {% include entry.html %}
  	{% endfor %}
  {% else %}
  	{% for post in site.categories.PoweredUp %}
  	  {% include entry.html %}
  	{% endfor %}
  {% endif %}

</div>